extends _layouts/default

block append config
  - var pagetitle = "UI"
  - var bodyClass = '_padding-top'
  -
    var breadcrumbs = [
      {
        label: 'Главная',
        link: '#',
      },
      {
        label: 'Страница',
      },
    ]

block append head
  if !isDev
    link(href="css/critical/main-page.css" rel='stylesheet')

block append styles
  link(href="/src/scss/main-page.scss" rel='stylesheet')

block content
  .container(
    style='display: grid; grid-gap: 30px; padding-top: 20px'
  )
    .
      <style> 
        h2 { font-size: 20px !important; margin-bottom: -15px !important; } 
        .flex {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      </style>

    div.flex
      button.btn .btn
      button(disabled).btn .btn:disabled
    div.flex
      button.btn._primary .btn._primary
      button(disabled).btn .btn._primary:disabled
    div.flex
      a(href="#").btn
        span with icon
        +svgsprite('arrow-right').btn__icon
    div.flex
      button(onclick="app.message.success({title: 'Success', text: 'Hello world'})").btn success message
      button(onclick="app.message.error({title: 'Error', text: 'Hello world'})").btn error message

    form.js-form(
      action="#"
      novalidate
      autocomplete="off"
      style='display: grid; grid-gap: 30px'
    )
      +input({
        label: 'input:required',
        placeholder: 'Иванов Иван Иванович',
        id: 'form_name',
        errorMessage: 'Это поле обязательно',
      })(
        type="text"
        name="name"
        required
      )
      +input-mask({
        label: 'input mask',
        placeholder: '+7 (999) 999-99-99',
        id: 'form_tel',
        errorMessage: 'Укажите корректный номер телефона',
      })(
        type='tel'
        name='tel'
        data-inputmask-alias="tel"
        data-inputmask-inputmode="tel"
      )
      +input({
        label: 'textarea',
        placeholder: 'Вопрос, предложение, претензия',
        id: 'contacts_form_message',
        errorMessage: 'Это поле обязательно',
      })(
        type='textarea'
        name='message'
      )
      +input-number({
        label: 'input[type=number]',
        id: 'form_number',
        errorMessage: 'Error message',
      })(
        type='number'
        name='number'
        min='0'
        max='10'
        value='1'
        step='1'
        data-min-num-error-message='Значение должно быть больше или равно 0'
        data-max-num-error-message='Значение должно быть меньше или равно 10'
        data-step-num-error-message='Значение должно быть кратно 1'
        required
      )

